
.photo > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
    margin: 5px;
}

.photo > div > img {
    width: 100%;
    height: auto;
}

.photo{
    display: grid;
    grid-gap: 0,5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: dense;
    margin-top: 10px;
}
